div {
    padding: 30px;
    text-align: center;
    margin-bottom: 15px;
    color: rgb(0, 58, 165);
}

.top-text {
    background-color: lightblue;
}

.bottom-text {
    background-color: lightgreen;
}

.highlight {
    background-color: yellow;
}

button {
    padding: 10px;
    margin: 0 5px;  
}

.no {
    border: 5;
    border-color: red;
}

.yes {
    border: 5;
    border-color: green;
}

img {
    width: 200px;
    height: auto;
}