* {
    background-color: purple;
}

div {
    color: yellow;
}

.text-alert {
    color: red;
}

#div-title {
    color: white;
    background-color: blue;
}

.top-text,
.bottom-text {
    color: white;
    background-color: green;
}

.top-text {
    color: hotpink;
    font-size: x-small;
    text-decoration: line-through;
}

.bottom-text {
    color: orange;
    font-size: large;
    text-align: center;
}

.page.header {
    color: aqua;
}

.page#paragraph {
    background-color: black;
}

img {
    width: 200px;
    height: inherit;
    border: 2px;
    border-style: dotted;
    border-radius: 50px;
}

/* rule 1 */
#subsection {
    background-color: yellow;
    color: blue;

}

/* rule 2 */
.main #subsection {
    color: red;
}

.box {
    width: 500px;
    margin: 0 auto;
    border: 5cm;
    border-color: aqua;
    border-radius: 2px;
}